/* Genel Ayarlar */
html {
    scroll-behavior: smooth; /* Sayfa kaydırma davranışını yumuşak yapar */
}

* {
    padding: 0; /* Varsayılan tüm padding değerlerini sıfırlar */
    margin: 0; /* Varsayılan tüm margin değerlerini sıfırlar */
    box-sizing: border-box; /* Kenar genişliğini içerir */
    list-style: none; /* Liste işaretlerini kaldırır */
    text-decoration: none; /* Metin altı çizgilerini kaldırır */
}

img {
    width: 100%; /* Görselleri yüzde yüz genişliğe ayarlar */
}

section {
    padding: 50px 0; /* Üst ve alt boşlukları ayarlar */
    background: transparent; /* Arka planı şeffaf yapar */
    margin: 0 auto; /* Bölümü ortalar */
}

/* Bölüm Başlıkları */
.section_title {
    text-align: center; /* Başlıkları ortalar */
    margin-bottom: 20px; /* Başlık altındaki boşluğu ayarlar */
    font-family: 'Poppins', sans-serif; /* Yazı tipi */
}

.section_title h2 {
    color: #fefcfc; /* Başlık rengi */
    font-size: 30px; /* Başlık boyutu */
    transition: all .5s ease-in-out; /* Geçiş efektleri */
}

.section_title h2:hover {
    background-color: hsl(0, 1%, 59%); /* Üzerine gelindiğinde arka plan rengini değiştirir */
}

/* Yükleme Ekranı */
#loading-screen {
    position: fixed; /* Sabit konumlandırma */
    width: 100%; /* Genişlik %100 */
    height: 100%; /* Yükseklik %100 */
    top: 0; /* Üstten sıfır */
    left: 0; /* Soldan sıfır */
    background-color: #fff; /* Beyaz arka plan rengi */
    display: flex; /* Flex düzeni kullanır */
    justify-content: center; /* Yatayda ortalar */
    align-items: center; /* Düşeyde ortalar */
    z-index: 9999; /* Üstte görünmesini sağlar */
    overflow: hidden; /* Taşan içeriği gizler */
}

#loading-screen img {
    width: 100px; /* Yükleme ikonu boyutu */
    height: 100px; /* Yükleme ikonu yüksekliği */
}

#pageOverlay {
    position: fixed; /* Sabit konumlandırma */
    top: 0; /* Üstten sıfır */
    left: 0; /* Soldan sıfır */
    width: 100%; /* Genişlik %100 */
    height: 100%; /* Yükseklik %100 */
    z-index: 999; /* Yüksek öncelik */
    display: flex; /* Flex düzeni kullanır */
    align-items: center; /* Düşeyde ortalar */
}

#pageOverlay .pgLCt {
    float: left; /* Sol yana yaslar */
    width: 100%; /* Genişlik %100 */
    text-align: center; /* Metni ortalar */
    position: relative; /* Göreli konumlandırma */
}

#pgLoadBlur {
    position: absolute; /* Mutlak konumlandırma */
    opacity: 1; /* Görünür durum */
    animation: fadeIn 1s ease-out forwards; /* Opaklık geçiş animasyonu */
}

#pgLoadOrg {
    position: absolute; /* Mutlak konumlandırma */
    opacity: 0; /* Başlangıçta görünmez */
    animation: fadeIn 1s ease-out 1s forwards; /* Opaklık geçiş animasyonu, 1 saniye gecikmeli */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Başlangıç opaklığı */
    }
    to {
        opacity: 1; /* Son opaklık */
    }
}

.loading-screen-hidden {
    opacity: 0; /* Gizlenmiş durumda opaklık */
    visibility: hidden; /* Görünürlük yok */
}

/* Anasayfa */
.container {
    display: flex; /* Flex düzeni kullanır */
    flex-direction: column; /* İçeriği dikeyde düzenler */
    justify-content: center; /* İçeriği düşeyde ortalar */
    align-items: center; /* İçeriği yatayda ortalar */
    min-height: 100vh; /* Tam ekran yüksekliği */
    text-align: center; /* Metni ortalar */
    padding: 0; /* İç boşluk */
    margin-top: -150px; /* Yukarı boşluğu negatif ayarlayarak içeriği yukarı taşır */
    box-sizing: border-box; /* Kenar genişliğini içerir */
    font-family: 'Poppins', sans-serif; /* Yazı tipi */

}

/* Logo ve başlıklar için kapsayıcı */
.header-content {
    display: flex; /* Flex düzeni kullanır */
    flex-direction: column; /* İçeriği dikeyde düzenler */
    align-items: center; /* İçeriği yatayda ortalar */
    margin-bottom: 30px; /* Altındaki içerik ile mesafe bırakır */
    margin-top: 0; /* Üst boşluk */
    font-family: 'Poppins', sans-serif; /* Yazı tipi */

}

.header-content img {
    width: 150px; /* Logo boyutunu ayarlar */
    margin-bottom: 20px; /* Logonun altındaki boşluk */
}

.header-text h1, .header-text h2 {
    color: #fff; /* Başlık rengi */
    margin: 0; /* Margin sıfırlanır */
    font-family: 'Poppins', sans-serif; /* Yazı tipi */

}

.header-text h1 {
    font-size: 3em; /* Büyük başlık boyutu */
    font-family: 'Poppins', sans-serif; /* Yazı tipi */

}

.header-text h2 {
    font-size: 1.5em; /* Küçük başlık boyutu */
    margin-top: 10px; /* Üstteki başlıkla mesafe bırakır */
    font-family: 'Poppins', sans-serif; /* Yazı tipi */

}

/* Buton için stil */
.action-content h1 {
    font-size: 1em; /* Başlık boyutu */
    color: #fff; /* Başlık rengi */
    margin-bottom: 1.5em; /* Alt boşluk */
}

.button {
    background: #7a7575; /* Buton arka plan rengi */
    padding: 12px 25px; /* Buton iç boşluğu */
    border-radius: 20px; /* Buton köşelerini yuvarlar */
    color: rgb(226, 226, 226); /* Buton yazı rengi */
    border: 1px solid #b8a9a9; /* Buton kenarlığı */
    font-weight: 700; /* Kalın yazı */
    cursor: pointer; /* Buton imleci */
    transition: all .1s ease-in-out; /* Geçiş efektleri */
}

.button:hover {
    background: #5f1515; /* Üzerine gelindiğinde arka plan rengi */
    letter-spacing: 2px; /* Harf aralıkları */
}

/* İLETİŞİM */
#İletişim {
    padding: 20px; /* İç boşluk */
    background-color: transparent; /* Arka plan rengini şeffaf yapar */
}

.inneriletişim {
    display: grid; /* Grid düzeni kullanır */
    grid-template-columns: 1fr; /* İçerikleri alt alta getirir */
    gap: 20px; /* İçerikler arasındaki boşluğu ayarlar */
    color: #fff; /* Yazı rengi */
    justify-items: center; /* İçerikleri yatayda ortalar */
    border-radius: 5px; /* Kenarları yuvarlar */
    flex-direction: column; /* Dikey hizalama */
    font-family: 'Poppins', sans-serif; /* Yazı tipi */
}

.inneriletişim h1 {
    left: 30px; /* Başlık konumu */
    font-size: 24px; /* Başlık boyutu */
}

.inneriletişim p {
    margin: 0; /* Margin sıfırlanır */
    font-size: 18px; /* Paragraf boyutu */
    font-family: 'Poppins', sans-serif; /* Yazı tipi */
}

.sosyal-medya i {
    font-size: 40px; /* Sosyal medya ikon boyutu */
    transition: transform 0.3s ease; /* Geçiş efekti */
    color: #ccc; /* İkon rengi */
    margin: 0 15px; /* İkonlar arasındaki boşluk */
}

.social-icon h1 {
    font-size: 1em; /* Başlık boyutu */
    margin: 0; /* Margin sıfırlanır */
}

.search-container {
    display: flex; /* Flex düzeni kullanır */
    justify-content: center; /* Yatayda ortalar */
    align-items: center; /* Düşeyde ortalar */
    margin: 50px auto; /* Üst ve alt boşluk, yatayda ortalama */
    font-size: 16px; /* Daha uygun font boyutu */
    height: 100px; /* Yükseklik */
    width: 600px; /* Genişlik */
    position: relative; /* Konumlamayı daha kolay kontrol etmek için */
}

textarea {
    height: 100px; /* Giriş kutusunun yüksekliği */
    width: 100%; /* Giriş kutusunun genişliği */
    padding: 0 5px; /* İç boşluk */
    font-size: 14px; /* Yazı boyutu */
    border: 1px solid #555; /* Kenarlık rengi */
    border-radius: 10px; /* Köşeleri yuvarlama */
}

button {
    height: 40px; /* Butonun yüksekliği */
    margin-left: 10px; /* Buton ile giriş kutusu arasındaki boşluk */
    padding: 0 20px; /* Buton iç boşlukları */
    font-size: 16px; /* Yazı boyutu */
    border: none; /* Kenarlık yok */
    background-color: #b8a9a9; /* Buton rengi */
    color: white; /* Yazı rengi */
    border-radius: 4px; /* Köşeleri yuvarlama */
    cursor: pointer; /* Üzerine gelindiğinde imleci değiştirme */
}

.icon-container {
    display: flex; /* Flex düzeni kullanır */
    flex-direction: column; /* İkon ve metni dikeyde hizalar */
    align-items: center; /* Yatayda ortalar */
    justify-content: center; /* Düşeyde ortalar */
    margin: 10px; /* Her bir icon-container elemanının çevresinde boşluk */
}

.inneriletişim {
    display: flex; /* Flex düzeni kullanır */
    justify-content: space-around; /* İçerikleri yatayda aralar */
    flex-wrap: wrap; /* İçeriklerin sarmasını sağlar */
    text-align: center; /* Metinleri ortalar */
    background: transparent; /* Şeffaf arka plan */
    background-color: #c2c2c278; /* İçeriğin arka plan rengini ayarlar */
}

.inneriletişim div {
    flex: 1; /* Her bir div'in eşit genişlikte olmasını sağlar */
    margin: 10px; /* Div'ler arasında boşluk bırakır */
}

p {
    margin: 5px 0; /* Paragraf etiketleri arasında boşluk bırakır */
}

#results-container {
    margin-top: 20px; /* Üst boşluk */
    text-align: center; /* Ortala */
    font-family: 'Poppins', sans-serif; /* Yazı tipi */
}

.footer-container {
    background-color: #f8f8f8; /* Açık arka plan rengi */
    padding: 20px; /* İçerik çevresindeki boşluk */
    text-align: center; /* Metni ortalar */
    border-top: 1px solid #e0e0e0; /* Üstte hafif bir kenarlık */
}

.footer-bottom {
    max-width: 1200px; /* Maksimum genişlik */
    margin: 0 auto; /* İçeriği yatayda ortalar */
}

.footer-bottom img {
    width: 300px; /* Logo genişliği */
    height: auto; /* Boyutu oranlayarak ayarlar */
    margin-bottom: 10px; /* Görsel ile metin arasındaki boşluk */
}

.footer-bottom p {
    color: #555; /* Koyu gri metin rengi */
    margin: 10px 0; /* Paragraflar arası dikey boşluk */
    font-size: 14px; /* Yazı boyutu */
    height: 20px; /* Yükseklik */
    font-family: 'Poppins', sans-serif; /* Yazı tipi */
}

.result-item {
    background-color: rgba(0, 0, 0, 0.6); /* Arka plan rengi */
    color: white; /* Yazı rengi beyaz */
    padding: 10px; /* İç boşluk */
    margin-bottom: 10px; /* Alt boşluk */
    border-radius: 5px; /* Köşeleri yuvarlama */
    overflow: hidden; /* İçeriğin taşmasını engeller */
    transition: max-height 0.3s ease-out; /* Animasyon süresi */
    max-height: 85px; /* Başlangıçta görünür olan yükseklik */
}

.result-item.expanded {
    max-height: 1000px; /* Üzerine gelindiğinde açılacak maksimum yükseklik */
}

.result-item:hover {
    max-height: 1000px; /* Üzerine gelindiğinde açılan maksimum yükseklik */
}


